/* GENERAL PAGE NEON THEME */
body {
  font-family: Turret Road;
  background: radial-gradient(circle at top, #050007, #000000);
  margin: 0;
  padding: 0;
  color: white;
  overflow-x: hidden;
}

/* TITLE */
h1 {
  text-align: center;
  margin-bottom: 0px;
  margin-top: 0px;
  font-family: Honk;
  margin-left:160px;
  font-size: 100px;
  color: #fff;
  text-shadow: 0px 0px 10px rgba(255, 200, 0, 0.429);
}

/* WIN BANNER */
#win-banner {
  display: none;
  font-family: Nabla;
  font-size: 130px;
  text-align: center;
  font-weight: bold;
  color: white;
  margin: 160px 0;
  text-shadow: 0px 0px 10px rgb(255, 0, 140);
  animation: pop 2s ease forwards;
}

@keyframes pop {
  0% { transform: scale(0.5); opacity: 0; }
  50% { transform: scale(1.2); opacity: 1; }
  100% { transform: scale(1); opacity: 1; }
}

/* MAIN LAYOUT */
.container {
  display: flex;
  width: 100%;
  min-height: calc(100vh - 120px);
  margin-top: 20px;
}

/* SIDE BAR */
.sidebar {
  font-weight: bold;
  width: 120px;
  background: linear-gradient(180deg, #0700062e, #242500c5);
  padding: 5px 15px;
  border-right: 2px solid rgba(255, 0, 140, 0.3);
  
}

.sidebar h2 {
  font-size: 22px;
  text-align: center;
  margin-bottom: 25px;
  color: #ff8cd5;
  text-shadow: 0 0 10px #ff00aa;
}

/* DIFFICULTY BUTTONS */
.difficulty-btn {
  font-weight: bold;
  font-family: Turret Road;
  width: 100%;
  margin: 12px 0;
  padding: 12px;
  font-size: 14px;
  background: transparent;
  border: 2px solid #ff00aa;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  transition: 0.2s;
  box-shadow: 0 0 12px #ff00aa;
}

.difficulty-btn:hover {
  font-weight: bold;
  background: rgba(255, 0, 166, 0.1);
  transform: scale(1.05);
}

.difficulty-btn.selected {
  background: #ff00aa;
  color: black;
  box-shadow: 0 0 20px #ff00aa;
}

/* MAIN AREA */
.main {
  flex: 1;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* CONTROLS */
.controls {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
}

#reset-btn {
  font-weight: bold;
  font-family: Turret Road;
  padding: 10px 20px;
  font-size: 16px;
  background: transparent;
  color: #ff00aa;
  border: 2px solid #ff00dd;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
  text-shadow: 0 0 10px #ff00dd;
  box-shadow: 0 0 15px #ff00dd;
}

#reset-btn:hover {
  background: rgba(195, 77, 164, 0.2);
}

/* GAME BOARD */
.game-board {
  display: grid;
  gap: 18px;
  justify-content: center;
  align-content: center;
}

/* CARD */
.card {
  width: 90px;
  height: 90px;
  position: relative;
  perspective: 1000px;
}

/* FRONT & BACK */
.card div {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  display: flex;
  font-size: 40px;
  align-items: center;
  justify-content: center;
  transition: transform 0.6s ease;
}

/* FRONT SIDE */
.front {
  background: rgba(254, 203, 0, 0.047);
  border: 2px solid #ffcc00;
  box-shadow: 0 0 20px #f9ec9c;
  color: #ffcc00;
}

/* BACK SIDE */
.back {
  background: rgba(213, 79, 182, 0.101);
  border: 2px solid#ff00aa;
  box-shadow: 0 0 20px #ff00aa;
  transform: rotateY(180deg);
}

/* FLIPPED CARD */
.card.flipped .front {
  transform: rotateY(180deg);
}

.card.flipped .back {
  transform: rotateY(0deg);
}


#play-again-btn {
  padding: 20px 20px;
  background: #ff00aa;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 10px;
  font-family: Turret Road;
  font-size: 20px;
  font-weight:bold ;
  cursor: pointer;
  box-shadow: 0 0 20px #ff00aa;
  transition: 0.2s;
}

#play-again-btn:hover {
  transform: scale(1.1);
}

.main {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;       
  justify-content: flex-start;
}

.game-board {
  display: grid;
  gap: 18px;
  margin-top: 20px;
  justify-content: center;     
  align-content: center;       
  width: auto;
}

#play-again {
  margin-top: 25px;     
  display: none;
}

#play-again-btn {
  padding: 12px 25px;
  margin-top: 10px;      
}



html {
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}

.scroll-container {
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}


::-webkit-scrollbar {
  display: none;
}

.scroll-container::-webkit-scrollbar {
  display: none;
}





